<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="https://zerosolidus.github.io/marioanguiano.github.io/css/main.css">
		</head>
		<div class="links">
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        		<li><a href="mailto:manguianojr@gmail.com">Email</a></li>
	        		<li><a href="https://github.com/zerosolidus">github.com/zerosolidus</a></li>
	    		</ul>
			</nav>

		</div>

			<div class="container">

			{{ content }}

			</div><!-- /.container -->
		</body>
	</html>
